@import "tailwindcss";

/* Custom component classes */
.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition-property: all;
  transition-duration: 200ms;
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.btn-primary {
  background-color: rgb(37 99 235);
  color: white;
}

.btn-primary:hover {
  background-color: rgb(29 78 216);
}

.btn-secondary {
  background-color: rgb(229 231 235);
  color: rgb(55 65 81);
}

.btn-secondary:hover {
  background-color: rgb(209 213 219);
}

.btn-danger {
  background-color: rgb(220 38 38);
  color: white;
}

.btn-danger:hover {
  background-color: rgb(185 28 28);
}

.card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-width: 1px;
  border-color: rgb(229 231 235);
  padding: 1.5rem;
}

.input {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-color: rgb(209 213 219);
  border-radius: 0.5rem;
}

.input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-color: rgb(59 130 246);
  border-color: transparent;
}

.badge {
  display: inline-flex;
  align-items: center;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
}

.badge-success {
  background-color: rgb(220 252 231);
  color: rgb(22 101 52);
}

.badge-warning {
  background-color: rgb(254 249 195);
  color: rgb(133 77 14);
}

.badge-danger {
  background-color: rgb(254 226 226);
  color: rgb(153 27 27);
}

.badge-info {
  background-color: rgb(219 234 254);
  color: rgb(30 64 175);
}
